
@font-face {
  font-family: Panton;
  src: url(PantonNarrow-Trial-Black.ttf);
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1000px;
    scroll-behavior: smooth;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, #00000077, #000000e7);
    z-index: 2;
    opacity: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}
.content {
    position: absolute;
    top: 825px;
    left: 5%;
    width: 90%;
    height: 1075px;
    z-index: 1;
    background: linear-gradient(to right, #d4d4d4, #ffffff);
    border: 1px solid rgb(255, 255, 255);
    border-radius:20px 20px 0px 0px;

}
.maintext {
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, rgba(179, 179, 179, 0.863), rgb(255, 255, 255), rgba(219, 219, 219, 0.884));
    font-weight: 900;
    text-align: center;
    width: 100%;
    height:100%;
    margin-top: -15px;
    -webkit-background-clip: text; /* For Chrome/Safari */
    -moz-background-clip: text; /* For Firefox (older versions) */
    background-clip: text;
    color: transparent; /* Makes the gradient visible inside the text */
    text-shadow: #b6b6b675 0px 0px 30px;
    opacity: 0.7;
    transition: all 0.3s ease;
}
.maintext:hover {
    opacity: 1;
    text-shadow: #b6b6b6bd 0px 0px 50px;
}
.textbar {
    position: absolute;
    top: 20px;
    width: 150px;
    height: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(255, 187, 1);
    top: 20px;
    text-shadow: #ff9a0359 0px 0px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.textbar:hover {
    text-shadow: #ff9a03c4 0px 0px 20px;
    
}
.suggs {
    left: 10%;
}
.infos {
    left: 25%;
}    
.disc {
    left:65%;
}
.textconent {
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(27, 27, 27, 0.781);
    font-weight: 700;
    text-align: center;
    width: 100%;
    height:100%;
    margin-top: 7%;
    padding-top: 1%;
    border-top: #00000067 2px solid;
}
section {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    scroll-snap-align: start;
    font-style: normal;

}
.scroll1 {
    position: absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    width: 26%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.scroll2 {
    position: absolute;
    top:30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(53, 53, 53);
}

.down {
    display: inline-block;
}
.arrow, .down {
    transform: scale(1.5);

}

.backgrounddot {
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#1a1a1a 200px, transparent 0);
    background-size: 500px 500px;
    position: fixed;
    z-index: 0;
    filter: blur(150px);
}
.all {
    position: absolute;
    z-index: 1;
    background-color: rgb(22, 22, 22);
    height: 2000px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.loginbox {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%) scale(1);
    width: 600px;
    height: 350px;
    background: linear-gradient(to right, #ffffff, #afaeae);
    border-radius: 10px;
    box-shadow: #8d8c8c 0px 0px 22px;
    transition:  0.3s ease;
}
.loginbox:hover {
    box-shadow: #8d8c8c 0px 0px 40px;
    transform: scale(1.01) translate(-50%, -50%);

}
.discordconnect {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 450px;
    height: 60px;
    background:linear-gradient(90deg, #0037ff, #0059ff);
    border-radius: 15px;
    box-shadow: #0e0e0e 0px 0px 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.76);

}
.logintxt {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.664);
    font-weight:800;
    
}
.information {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 550px;
    height: 200px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 27, 27);
}
.examplebox {
    position: absolute;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px   ;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(194, 194, 194, 0.418);
    font-weight:800;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: #ffffff31 0px 0px 10px;
}
.examples {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    top: 30px;

}
.example1 {
    background-color: red;
    height: 400px;
    width: 200px;
    z-index: 2;
    top: 0;
    transition: transform 0.5s ease;

}
.example2 {
    background-color: blue;
    width: 200px;
    height: 400px;
    z-index: 3;
    top: 0;
    transform: scale(1.1);
    transition: transform 0.5s ease;
 
}
.example3 {
    background-color: green;
    height: 400px;
    width: 200px;
    z-index: 2;
    top: 0;
    transition: transform 0.5s ease;

}
.example1, .example2, .example3{
    border-radius: 15px;
    align-self: center;
}
.example1:hover {
    transform: scale(1.1);
    z-index: 4;
}
.example3:hover {
    transform: scale(1.1) ;
    z-index: 4;
}
.examples:has(.example1:hover) .example2 {
    transform: scale(1) rotate(5deg) translateX(-10px);
    z-index: 3;

}
.examples:has(.example3:hover) .example2 {
    transform: scale(1) rotate(-5deg) translateX(10px);
    z-index: 3;

}
.examples:has(.example1:hover) .example3 {
    transform: translateX(-50px) scale(0.8) rotate(10deg);
    z-index: 2;
}
.examples:has(.example3:hover) .example1 {
    transform: translateX(50px) scale(0.8) rotate(-10deg);
    z-index: 2;
    
}
.checkout {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    font-size:20px;
    cursor: pointer;
    text-shadow: none;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        background-color: lightgray;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
        background-color: lightblue;
    }

}

